<div id="calender_container" class="mx-[15%]">
  <div
    id="calender_controllers"
    class="h-24 pt-5 px-5 bg-white flex flex-row-reverse mt-4 rounded-lg items-center"
  >
    <mat-form-field>
      <mat-label>نوع تقویم</mat-label>
      <mat-select>
        @for (calenderType of calenderTypes; track calenderType.value) {
        <mat-option [value]="calenderType.value">{{
          calenderType.viewValue
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div
    id="calender"
    class="h-96 pt-5 px-5 bg-white flex flex-row-reverse mt-4 rounded-lg items-center"
  >

  </div>
</div>
